
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}



html, body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    height: 100%;
    min-width: 100%;
    font-size: 13px;
    color: #404040;
    direction: ltr;
    -webkit-text-size-adjust: none;
}


.card {
    margin-bottom: 20px;
    top: 25%;
    position: relative;
}
.signin-card {
    width: 274px;
    padding: 40px 40px;
}
.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 5px;
    width: 304px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.signin-card .profile-img {
    width: 96px;
    height: 96px;
    /*margin: 0 auto 10px;*/
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float:  left;
}

.signin-card .profile-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}
.pass{
    width: 58%;
}

#avatar{
    width: 35px;
    height: 35px;
    margin: auto 0px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
        float: left;
}

#nickname{
    top: 13px;
    position: absolute;
    left: 43px;
    width: 140px;
    height: 20px;
    text-overflow: ellipsis;
    text-align: left;
}
#menu_inicio{
    background-color: black;
    opacity: 0.8;
    height: 648px;
    width: 655px;
    bottom: 1px;
    position: absolute;
}

#barra_tareas{
    background-color: black;
    opacity: 1.9;
    width: 100%;
    height: 49px;
    bottom: 1px;
    position: absolute;
   
}
.Ventana_trabajo{
    position: relative;
    border: solid 2px;
    height: 679px;
    border-radius: 10px;
}
.Reducir {
    position: relative;
    float: right;
    height: 24px;
    width: 27px;
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    border-radius: 43px;
}
.titulo_ventana
{
       color: white;
    position: relative;
    float: left;
    padding: 3px

}
.Ventana_activa{
    top: 32px;
    position: relative;
    
}
.barra_titulo{
     background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 28px;
    top: 0px;
    position: absolute;
    border: solid 2px;
    border-radius: 7px;
   
}

#menu_derecho
{

    width: 56%;
    float: right;
    height: 89%;
    overflow-y: auto;
}

#menu_izquierdo{
    width: 43%;
    height: 69%;
    position: relative;
    float: left;
    color: white;

}


.anclados{
    background-color: #157ACA;
    opacity: 1;
    width: 112px;
    height: 112px;
    float: left;
    margin: 3px;
    cursor: pointer;
}
.anclados:hover{
opacity: 0.6;


}

.anclados .titulo{
    color: white;
    left: 7px;
    top: 33px;
    position: relative;
    width: 92px;
    height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.anclados .icono{
    width: 40px;
    height: 40px;
    left: 38px;
    top: 30px;
    position: relative;   
}

div#mas_usadas {
    width: 100%;
    height: 271px;
    overflow-y: auto;
    padding-top: 13px;
}

.usadas{

    opacity: 1;
    width: 95%;
    height: 33px;
    float: left;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.usadas:hover{

    
        background-color: cornflowerblue;
    opacity: 0.9;
   
}

.opciones{
    position: relative;
    float: left;
    bottom: 1px;
    width: 181px;
    height: 31px;
}
.opciones .titulo{
  font-size: 13px;
    text-align: left;
    bottom: 17px;
    float: left;
    margin: 2px;
}

.opciones:hover {
     background-color: cornflowerblue;
    opacity: 0.9;

}

div#configuracion {
  position: relative;
    margin-top: 129px;
    width: 100%;
    height: 133px;
cursor: pointer;
}

.iconoprograma{
        width: 43px;
    height: 43px;
    position: relative;
    border: solid;
    border-width: 2px;
}

.programa {
    float: left;
    margin: 1px;
}
.programa:hover {
   background-color: cornflowerblue;
    opacity: 0.9;
    cursor: pointer;

}
.Inicio_hide {
 
 display:none;
     opacity:0;

}

.Inicio_show {
    -webkit-animation-name: show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: show;
    animation-duration: 0.5s;
    position:relative;

}


.Entorno_show {
    -webkit-animation-name: show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: show;
    animation-duration: 0.5s;
    position:relative;

}


/*@-webkit-keyframes show {
    0%   {opacity: 0;}

    100% {opacity: 1;}
}*/

@-webkit-keyframes show {
    0% { opacity: 0;-moz-transform: scale(0);-webkit-transform: scale(0); }
    50% { opacity: 1;-moz-transform: scale(1.1);-webkit-transform: scale(1.1); }
    100% { opacity: 1;-moz-transform: scale(1);-webkit-transform: scale(1); }
}

@-moz-keyframes show {
    0% { opacity: 0;-moz-transform: scale(0);-webkit-transform: scale(0); }
    50% { opacity: 1;-moz-transform: scale(1.1);-webkit-transform: scale(1.1); }
    100% { opacity: 1;-moz-transform: scale(1);-webkit-transform: scale(1); }
}

@-ms-keyframes show {
    0% { opacity: 0;-moz-transform: scale(0);-webkit-transform: scale(0); }
    50% { opacity: 1;-moz-transform: scale(1.1);-webkit-transform: scale(1.1); }
    100% { opacity: 1;-moz-transform: scale(1);-webkit-transform: scale(1); }
}

@keyframes show {
    0% { opacity: 0;transform: scale(0);transform: scale(0); }
    50% { opacity: 1;transform: scale(1.1);transform: scale(1.1); }
    100% { opacity: 1;transform: scale(1);transform: scale(1); }
}







