<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
	<title>My Suit</title>

<link rel="stylesheet" type="text/css" href="./menu_files/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./menu_files/bootstrap-cerulean.css">
<link rel="stylesheet" type="text/css" href="./menu_files/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="./menu_files/datepicker.css">
<link rel="stylesheet" type="text/css" href="./menu_files/datetimepicker.css">




<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.3/angular-route.js"></script>
<link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>


<body ng-app="">






<div id="rsi-card" class="card signin-card">
	<img id="profile-img" class="profile-img" src="./imagenes/sinlogo.png" alt="">
	<p class="profile-name">Usuario</p>
	<p class="profile-name"><input class="pass" type="text" ng-model="prueba"></input></p>
	<p class="profile-name"><button type="button" class="btn pass btn-primary">Iniciar Sesion</button></p>
	
	
</div>






<h1>{{prueba}}</h1>







<div id="menu_inicio" ng-class="myVar"> 

	<div id="menu_izquierdo"> 

	<div id="id_usuario">
	<div id="avatar2"><img id="avatar" class="profile-img" src="./imagenes/sinlogo.png" alt=""></div>	<div id="nickname">Programador1</div>
	</div>

<div id="mas_usadas">
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>
	<div class="usadas">Microsoft Office Word  2003</div>

</div>

<div id="configuracion">

	<div class="opciones"><div class="titulo"> Perfil</div></div>
	<div class="opciones"><div class="titulo"> Configuracion</div></div>
	<div class="opciones"><div class="titulo"> Iniciar / Cerrar Sesion</div></div>
	<div class="opciones"><div class="titulo"> Herramientas</div></div>

</div>

		</div>


		<div id="menu_derecho"> 
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">SQL Server Management</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">SQL Server Management</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">SQL Server Management</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">SQL Server Management</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">SQL Server Management</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">SQL Server Management</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">SQL Server Management</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">SQL Server Management</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">Prueba</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">Prueba</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">Prueba</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">Prueba</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">Prueba</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">Prueba</div></div>
			<div class="anclados"><div ><img class="icono" src="./imagenes/icono.png"></div><div class="titulo">Prueba</div></div>
		</div>


</div>


<div id="barra_tareas">
	<div class="programa" ng-click="myVar='my-class'"><img class="iconoprograma" src="./imagenes/sinlogo.png"></div>
	<div class="programa" ng-click="myVar='my-classrun'"><img class="iconoprograma" src="./imagenes/icono.png"></div>
	<div class="programa"><img class="iconoprograma" src="./imagenes/icono.png"></div>
	<div class="programa"><img class="iconoprograma" src="./imagenes/icono.png"></div>
	<div class="programa"><img class="iconoprograma" src="./imagenes/icono.png"></div>
	<div class="programa"><img class="iconoprograma" src="./imagenes/icono.png"></div>
</div>

</body>
</html>